<div class="sign_in_buttons">
  <% if diner_signed_in? %>
    <%= link_to('Edit Profile ' + current_diner.name, edit_diner_registration_path) %> |
    <%= link_to('Logout', destroy_diner_session_path, :method => :delete ) %>
  <% else %>
    <%= link_to('Login', new_diner_session_path(login_button: 'true'), :id=>"sign_in_button") %> |
    <%= link_to('Sign up', new_diner_registration_path)  %>
  <% end %>
</div>