<% if diner_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_diner_session_path, :method => :delete ) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_diner_session_path)  %>  
  </li>
<% end %>