<%=image_tag("background.jpg", :class=>"grayscale cover-photo" )%>
<div class="container">
  <div class="header">
    <p id="signin">
      Have an account?<br />
      <%=link_to("Sign In", new_diner_session_path, {:class=>"btn btn-md btn-default", :id=>"signin-btn"}) %>
    </p>
  </div>
</div>
 <div class="container">
  <div class="page-header">
    <h1 class="text-primary">community</h1>
  </div>
</div>
<div class="container text-center">
  <p class='text-primary'>Sign up for a new account!</p>
  <%= render :partial => 'form'%>
</div>

<%= render :partial => 'welcome/footer'%>