<!-- about modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">close</span></button>
        <h4 class="modal-title" id="aboutLabel">About</h4>
      </div>
      <div class="modal-body">
        <p>We make sharing costs and group finances dead simple. The struggles of figuring out costs for opting out of meals, different cooks, different buyers, and all the complications of cooking and eating together have come together in <b>commmunity</b>. Try it today - it's free for an unlimited amount of time and an unlimited amount of people.</p>
      </div>
    </div>
  </div>
</div>

<!-- team modal -->
<div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="teamLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">close</span></button>
        <h4 class="modal-title" id="teamLabel">Team</h4>
      </div>
      <div class="modal-body">
        <p class="lead"><strong>Made by students for students</strong></p>
        <h4>Kevin Casey</h4>
          <p>AD-carry</p>
        <h4>Sherman Leung</h4>
          <p>Tank</p>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav" style="margin-left: -100px; width: 200px; left:50%; ">
      <li><a href="#" data-toggle="modal" data-target="#aboutModal">ABOUT</a></li>
      <li><a href="#" data-toggle="modal" data-target="#teamModal">TEAM</a></li>
    </ul>
  </div>
</nav>