<div class = "container">
	<div class = "centered">
		<div class = "about-section">
			<h2>What is community?</h2>
			<p>We're not NBC's hit TV show, this is a cost-splitting web application that simplifies cost-sharing among friends</p>
		</div>
	</div>
</div>
