
<div class = "centered">
	<%= image_tag("community.png", :class => "bounce", :id => "animate-logo")%>
	<h2>Cost-splitting made easy</h2>
	<%= link_to("join the community", "diners/sign_in", :class => 'btn btn-primary btn-large') %>
</div>
