<%=image_tag("background.jpg", :class=>"grayscale cover-photo" )%>
<!-- Begin page content -->
<div id="logo_header">
  <div class="container">
    <a href="/"><h1 class="text-primary">community</h1></a>
    <hr />
  </div>
</div>

<div class="container">
  <p class="alert alert-info align-left">Trying to create a new community? <a href="/" class="bold">Sign up on the home page</a> to get started.</p>
	<%= render :partial => 'form'%>
</div>

<%= render :partial => 'welcome/footer'%>


