/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header{
	background-color: #900000;
	text-align: center;
	position: fixed;
	top:0px;
	height: 60px;
	width: 100%;
	font-family: 'ubuntu', helvetica, sans-serif;
}

.login{
	position: relative;
	left: 80%;
	font-weight: bold;
	font-size: 14px;
}

form{
	margin-left: 15px;
}

.sign_in_buttons{

	position: fixed;
	top: 5px;
	right: 10px;
}
