// Place all the styles related to the meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th,td
{
  padding:10px;
}

.meal{
	background-color: #ccffff;
}

.col-md-4{
	width: 32%;
	display: inline-table;
}

.calendar-form{
	position: absolute;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	top: 20%;
	height: auto;
	z-index: 10;
}
th{
	width: auto;
}

#create-meal-form{
	background-color: white;
}

#signup-meal-form{
	background-color: white;
}

#payment-form{
	margin: 0;
	padding: 0;
	left: 0;
	width: auto;
}

#payment-form > input{
	margin: 0;
	width: auto;
}

#payment-form-wrapper{
	margin: 0;
}

.button_to{
	padding: 0;
	margin: 0;
	border: none;
	width: auto;
	left: 0px;
	box-shadow: none;
}

.green{
	color: #BDECB6;
}

.red{
	color: #FF7878;
}