// Place all the styles related to the meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th,td
{
  padding:10px;
}

.meal{
	background-color: #ccffff;
}

.col-md-4{
	width: 32%;
	display: inline-table;
}