#nav > li a{
  font-family: 'Open Sans', Helvetica, serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
}
#nav > li:first-child a{
  font-weight: 400;
}
#nav .login-items a{
  font-size: 14px;
  font-weight: 300;
}
#logo-image{
  max-height: 30px;
  padding-bottom: 6px;
}
#venmo-signup{
  font-weight: 400;
}
#venmo-signup img{
  height: 70%;
}
.cover-photo{
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  min-width: 100%;
  height: 100%;
}
#logo_header {
  width: 100%;
  padding: 2.4rem 0 0;
}
#logo_header a{
  text-decoration: none;
}
.section{
  background-color: white;
  background-position: center bottom, center top;
  background-size: auto, cover;
  height: 550px;
}

.down-button{
  background-position: center bottom,center top;
}
.grayscale{
  -webkit-filter: grayscale(60%);
  -moz-filter: grayscale(60%);
  filter: grayscale(60%);
}

.darken{
  background-color: rgba(0, 0, 0, 0.7);
}

.blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

/*page flow styles*/

#wrap{
  min-height: 100%;
}

.footer {
  position: relative;
  margin-top: 70px;
  height: 70px;
  text-align: center;
  clear: both;
  font-weight: bold;
  color: white;
}


.splash{
  margin-top: 20%;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: white;
  width: 100%;
  z-index: 5;
  font-family: 'ubuntu', sans-serif;
  text-align: center;
}

.splash h1{
  text-shadow: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  font-weight: 700;
}

.splash .tagline{
  font-size: 20px;
  font-weight: 400;
  width: 60%;
  margin: auto;
  line-height: 120%;
  font-family: 'Source Sans Pro', sans-serif;
}

.landing-form-container{
  margin-top: 30px;
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  width: 600px;
  padding: 16px 20px;
}
/*for the header on homepage*/
.header {
  position: relative;
  top: 0;
  right: 10%;
  width: 100%;
}
/*for signin button on homepage*/
.white-text{
  color: white;
}
.larger-text{
  font-size: 16px;
}

.white-border{
  border: 1px solid white;
}

.dark-text{
  color: black;
}

.dark-border{
  border: 1px solid black;
}
#signin{
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  color: white;
  position: absolute;
  top: 1rem;
  right: 30px;
  text-align: right;
}
#signin-btn{
  background-color: transparent;
  background-image: none;
  font-weight: 700;
  border: 1px solid white;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}
/*for welcome page form*/
#sign-up-form input{
  height: auto;
  font-size: 16px;
}

/*for sign in form */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.landing-form-container .row{
  margin: 0;
}

/*shared links style*/
.shared-links{
  margin: 0;
  list-style-type: none;
}

.shared-links li{
  margin-right: 10px;
  display: inline-block;

}